<link rel="stylesheet" href="/styles/form.css" />

<script type="module" src="/scripts/form.js"></script>
<div class="container">
  <div class="right">
    <h2>Get Membership</h2>
    <form action="/member" method="POST" id="create">
      <label for="passKey">Secret Code</label>
      <input
        type="passKey"
        id="passKey"
        name="passKey"
        placeholder=" "
        required
      />
      <label id="error-message"></label>
      <button id="submit-button" type="submit">Submit</button>
    </form>
  </div>
</div>
<p style="position: absolute; top: 0.5rem; left: 0.5rem; color: #fff">
  Code: 'SecretKey'
</p>
<a class="back" href="/">Go Back</a>
