<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/fonts/fonts.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/variables.css" />

    <script type="module" src="/scripts/loading.js" defer></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div id="loading"></div>

    <% if (title !== "Log In" && title !== "Sign Up" && title !== 'Membership Form') { %> <%-
    include('./partial/header.ejs', { isUserAuthenticated: isUserAuthenticated
    }) %> <% } %>

    <main><%- body %></main>

    <% if (title !== "Log In" && title !== "Sign Up" && title !== 'Membership Form' && !isUserAuthenticated) {
    %> <%- include('./partial/footer.ejs',) %> <% } %>
  </body>
</html>
