<link rel="stylesheet" href="/styles/footer.css" />
<footer>
  <p class="buttons-text">Join to create posts and see authors.</p>
  <div class="button-container">
    <a href="/signup">
      <button class="signup" type="button">Sign Up</button>
    </a>
    <a href="/login">
      <button class="login" type="button">Log In</button>
    </a>
  </div>
</footer>
