<header>
  <link rel="stylesheet" href="./styles/header.css" />
  <a class="logo" href="/">Messages</a>
  <% if (isUserAuthenticated) { %>
  <a href="/logout">Logout</a>
  <% } else { %>
  <div class="buttons">
    <a href="/signup">
      <button class="signup" type="button">Sign Up</button>
    </a>
    <a href="/login">
      <button class="login" type="button">Log In</button>
    </a>
  </div>
  <% } %>
</header>
