<header>
  <link rel="stylesheet" href="./styles/header.css">
  <nav>
    <a href="/">Home</a>
    <% if (isUserAuthenticated) { %>
    <a href="/logout">Logout</a>
    <% } else { %>
    <form action="/login" method="post" class="login-form">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
    <% } %>
  </nav>
</header>
