<link rel="stylesheet" href="/styles/header.css" />

<header>
  <a class="logo" href="/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      fill="currentColor"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-message-square"
    >
      <path
        d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
      ></path>
    </svg>
    <p>Messages</p>
  </a>
  <% if (isUserAuthenticated) { %>
  <div class="header-user">
    <div class="svg-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-user"
      >
        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4" b></circle>
      </svg>
    </div>
    <p><%= user.firstName %></p>

    <div class="user-options">
      <a href="/member" <% if (user.membershipStatus) {%>
        class="disable"> Already a Member! <% } else { %> > Become a Member <% }
        %>
      </a>
      <a class="logout" href="/logout">Logout</a>
    </div>
  </div>
  <% } %>
</header>
