main {
  padding-bottom: 107px;
  /* padding to content so footer doesn't get on top of things at end of page */
}

footer {
  position: fixed;
  width: 100%;

  bottom: 0;
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  color: var(--footer-text);
  font-weight: 500;
  background: var(--footer-bg);
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer button {
  padding: 0.6em 0.8em;
  width: 95px;

  border: none;
  border-radius: var(--radius-button);

  font-size: 1rem;
  font-weight: 500;

  background-color: var(--primary-color);
  color: #fff;

  cursor: pointer;
  transition: box-shadow var(--shorter-transition-duration);
}
footer button:hover {
  box-shadow: 0px 0px 0.5rem 0.25rem #fff;
  color: #fff;
}

footer a {
  height: fit-content;
  color: inherit;
  text-decoration: none;
}
.login {
  background-color: var(--page-bg);
}
