header {
  position: sticky;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--page-bg);
  color: var(--header-text);

  padding: 1.5rem 1.5rem;
  border-bottom: var(--header-border);
}

.logo {
  line-height: 1;

  font-size: 2.5rem;
  font-weight: 1000;
  text-decoration: none;
  color: var(--logo-text);

  position: relative;
  padding: 0.6rem 0 0rem 0;
}
.logo::before {
  content: "THE ODIN";
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 1.2rem;
  color: var(--header-text);
}

.logout {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
.logout:hover {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .buttons {
    flex-direction: column;
  }
}
