header {
  position: sticky;
  width: 100%;

  display: flex;
  align-items: center;

  background-color: var(--header-bg);
  color: var(--header-text);

  padding: 0 1.5rem;
  border-bottom: 1px solid var(--header-border);
}

.logo {
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  height: 70px; /* this is what is setting header height */

  color: var(--primary-color);
}
.logo p {
  font-family: "League Spartan", Roboto, system-ui;
  font-size: 2.5rem;
  font-weight: 700;

  letter-spacing: -2px;
  margin-left: 5px;
}

.header-user {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  gap: 0.75em;
  padding: 0.75rem 0;

  padding-left: 2rem;
}

.svg-container {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.3rem;

  border-radius: var(--radius-button);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background var(--transition-duration);
}

.header-user > p {
  font-weight: 600;
}

.user-options {
  display: none;
}
.header-user:hover .user-options {
  position: absolute;

  background-color: #2f3338;
  color: #fff;

  top: 100%;
  right: -5px;
  width: 250px;

  border-radius: var(--radius-button);
  border: 1px solid var(--user-options-border);

  display: flex;
  flex-direction: column;
}
.header-user:hover .svg-container {
  background-color: var(--primary-light);
}

.user-options > * {
  margin: auto;
  padding: 1rem;

  font-weight: 400;
  color: inherit;
  text-decoration: none;

  width: 100%;
  height: 50px;

  text-align: start;

  cursor: pointer;
}
.user-options > *:hover {
  background-color: #1a1a1b;
  font-weight: 600;
}

.theme-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  cursor: default;
}
.theme-options:hover {
  background-color: transparent;
  font-weight: normal;
}

.theme-options p {
  margin-right: auto;
}

.theme-options button {
  border-radius: var(--radius-button);
  border: none;
  outline: 3px solid transparent;

  background-color: gray;

  width: 35px;
  height: 35px;

  cursor: pointer;
  transition: outline var(--transition-duration);
}
.theme-options button:hover {
  background-color: rgb(83, 83, 83);
}
.theme-options svg {
  width: 80%;
  height: 80%;

  margin: auto;

  stroke: var(--yellow);
  fill: var(--yellow);
}

.theme-options .selected {
  outline-color: var(--secondary-color);
}

@media screen and (max-width: 700px) {
  .buttons {
    flex-direction: column;
  }
}
