body {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;

  font-family: "Roboto";
  background-color: var(--page-bg);

  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: min-content auto;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--hyperlink-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
  z-index: 9999;
}
#loading.active {
  transform: scaleX(1);
}

main {
  color: var(--content-text);
  min-height: 100%;
  width: 100%;
  padding: 0% 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}
