:root {
  --page-bg: #202020;
  --content-text: #fff;
  --content-bg: #131313;

  --header-border: #ffffff5d;
  --logo-text: red;

  --primary-color: #5222a0;
  --primary-hover: #6c38bf;

  --secondary-color: #fdcda7;

  --form-bg: #ffffff;
  --input-border: #ccc;

  /* same for light and dark mode */
  --form-bg: #202020;

  --radius-button: 7px;
  --transition-duration: 0.3s;
}
