:root {
  --page-bg: #202020;
  --content-text: #fff;
  --content-bg: #343434;

  --header-border: #ffffff5d;
  --logo-text: red;

  --primary-color: #7e48d6;
  --primary-hover: #6c38bf;

  --secondary-color: #fdcda7;
  --tertiary-color: #d246c9; /* middle between secondary and primary */

  --form-bg: #ffffff;
  --input-border: #ccc;

  --footer-bg: #ffffff;

  /* gradients */

  --first-third-gradient: linear-gradient(
    to right,
    var(--primary-color),
    var(--tertiary-color)
  );
  --first-third-second-gradient: linear-gradient(
    to right,
    var(--primary-color),
    var(--tertiary-color),
    var(--secondary-color)
  );

  /* same for light and dark mode */
  --form-bg: #202020;
  --form-shadow: rgb(182, 182, 182);

  --hyperlink-color: rgb(68, 158, 255);
  --focus-color: #007bff;

  --radius-button: 5px;
  --transition-duration: 0.3s;
}
